* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.header {
    padding: 20px;
    text-align: center;
    font-family: sans-serif;
    background: #1abc9c;
    color: white;
    font-size: 40px;
}

main {
    margin: auto;
    width: 1000px;
}

.main-article {
    display: flex;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.game {
    flex: 70%;
    text-align: center;
    font-family: "Arial", sans-serif;
    margin: 20px;
}

.arena {
    display: flex;
    text-align: center;
    margin-top: 30px;
}

.arena-player {
    flex: 40%;
}

.arena-vs {
    flex: 20%;
    margin: auto;
    font-size: 40px;
}

.arena-cpu {
    flex: 40%;
}

.information {
    font-family: "Segoe UI", sans-serif;
    flex: 30%;
    margin: 20px;
}

.weapon {
    width: 100px;
}

.clickable {
    cursor: pointer;
}

.author {
    margin: 20px;
    display: flex;
}

.author-image {
    max-width: 200px;
    border-radius: 50%;
    flex: 30%;
}

.author-information {
    text-align: center;
    font-family: "Segoe UI", sans-serif;
    padding: 20px;
    flex: 70%;
}