* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 20px;
}

.header {
    padding: 20px;
    text-align: center;
    font-family: sans-serif;
    background: #1abc9c;
    color: white;
    font-size: 40px;
}

main {
    display: flex;
    margin-top: 20px;
}

article {
    margin: 20px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.game {
    flex: 70%;
    text-align: center;
    font-family: "Arial", sans-serif;
}

.information {
    font-family: "Segoe UI", sans-serif;
    flex: 30%;
}

.weapon {
    width: 100px;
    cursor: pointer;
}
